// app global css in SCSS form

// tailwind
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background: #F6F7FB;
    color: #626262;
  }

  button:focus {
    outline: none;
  }
}
