basePath: /api/v1
host: localhost:8090
info:
  contact:
    name: beijingyingnuoweixun
    url: https://e.gitee.com/beijingyingnuoweixun
  description: Video Intelligence
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: http://swagger.io/terms/
  title: Video Intelligence
  version: "0.1"
paths:
  /devices/{id}/channels:
    post:
      consumes:
      - application/x-www-form-urlencoded
      description: ping 接口
      parameters:
      - description: 设备id
        in: path
        name: id
        required: true
        type: string
      - description: 通道备注
        in: formData
        name: memo
        type: string
      - description: 播放类型，pull 媒体服务器拉流，push 摄像头推流,默认push
        in: formData
        name: streamtype
        type: string
      - description: 静态拉流地址，streamtype=pull 时生效。
        in: formData
        name: url
        type: string
      produces:
      - application/json
      responses:
        "0":
          description: ""
          schema:
            type: string
        "1000":
          description: ""
          schema:
            type: string
        "1001":
          description: ""
          schema:
            type: string
        "1002":
          description: ""
          schema:
            type: string
        "1003":
          description: ""
          schema:
            type: string
      summary: ping
      tags:
      - channels
securityDefinitions:
  BasicAuth:
    type: basic
swagger: "2.0"
