<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= productName %></title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="<%= productDescription %>" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta
      name="viewport"
      content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>"
    />

    <link rel="stylesheet" type="text/css" href="loader.css" />
    <link
      rel="icon"
      type="image/webp"
      sizes="128x128"
      href="icons/favicon-128x128.webp"
    />
    <link
      rel="icon"
      type="image/webp"
      sizes="96x96"
      href="icons/favicon-96x96.webp"
    />
    <link
      rel="icon"
      type="image/webp"
      sizes="32x32"
      href="icons/favicon-32x32.webp"
    />
    <link
      rel="icon"
      type="image/webp"
      sizes="16x16"
      href="icons/favicon-16x16.webp"
    />
    <link rel="icon" type="image/ico" href="favicon.ico" />
  </head>
  <body>
    <noscript>
      <strong>
        We're sorry but <%= productName %> doesn't work properly without
        JavaScript enabled. Please enable it to continue.
      </strong>
    </noscript>
    <div id="loading-bg">
      <div class="loading-logo">
        <img src="logo.webp" alt="Logo" />
      </div>
      <div class="loading">
        <div class="effect-1 effects"></div>
        <div class="effect-2 effects"></div>
        <div class="effect-3 effects"></div>
      </div>
    </div>
    <!-- quasar:entry-point -->
  </body>
</html>
